
body{
    background-color:#303030;
    color:white;
    
}

#container {
    width: auto;
    margin-left: auto;
    margin-right: auto;

}

topbar{
    width:960px;
    margin: 20px;
    font-size:medium;
}
.square {
   width:50%;
   float:left;

}

.title1 {
    margin:10px;
    width:230px;
    height:142px;
    background-color: #3095d3;
    float:left;
    text-align:center;
}

.title2 {
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #808080;
    float: left;
    text-align: center;
}

.title3 {
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #93c748;
    float: left;
    text-align: center;
}

.title4 {
    margin: 10px;
    width: 480px;
    height: 142px;
    background-color: #ee5a32;
    text-align: center;
    font-size: 30px;
    padding:30px;
    
}

.title5 {
    margin: 10px;
    width: 480px;
    height: 304px;
    background-color: #808080;
    text-align: justify;
    padding:20px;
}

.yt {
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #d94348;
    float: left;
}



.fb {
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #4668b3;
    float: left;
}
.goglep {
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #d95333;
    float: left;
}
.tw {
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #3095d3;
    float: left;
}


.title1:hover {
    background-color: #2084c2;
}

.title2:hover {
    background-color: #707070;
}

.title3:hover {
    background-color: #82b637;
}

.yt:hover {
    background-color: #c83237;
}
.fb:hover {  
    background-color: #3557a2;
}

.goglep:hover {
    background-color: #c84222;
}

.tw:hover {
    background-color: #2084c2;
}