@model BlogNew1.Models.Artykuly

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Tytul)</h2>

<div>
    <p>
        @Html.DisplayFor(model => model.TekstArtykulu)
    </p>


    <p>
        @Html.DisplayFor(model => model.DataDodania)
    </p>

</div>

<div type=button>
    <button type="button" class="btn btn-danger">@Html.ActionLink("Strona Główna", "Index")</button>
</div>