@model BlogNew1.Models.Artykuly
@{
    ViewBag.Title = "DodajArtykul";
}

<h2>Dodaj zmodyfikuj Artykul</h2>

<div>
    <h2>Sekcja edytowania artykułów</h2>
    @using (Html.BeginForm("DodajArtykul", "Home"))
    {
        @Html.EditorFor(m => m)
        <input type="submit" value="Wyślij" />
    }
</div>