<link href="~/Content/MojTestowy.css" rel="stylesheet" type="text/css" />
<link href="~/fontello/css/fontello.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "O mnie";
}
<body>
    <div id="container">

        <div id="topbar">
            <h2>Witaj na stronie o mnie</h2>
        </div>

        <div class="square">

            <div class="title1">
                <i class="icon-user"></i><br />
                <p>Kim jestem<p>
            </div>

            <div class="title1">
                <i class="icon-laptop"></i><br />
                <p>Co robię<p>
            </div>
            <div style="clear:both"></div>
            <div class="title2">
                <i class="icon-graduation-cap"></i><br />
                <p>Curriculum vitae<p>
            </div>

            <div class="title3">
                <i class="icon-mail"></i><br />
                <p>Kontakt ze mną<p>
            </div>
            <div style="clear:both"></div>
            <div class="title4">
                "Cel, jest to marzenie z datą wykonania" - Napoleon Hill
            </div>

        </div>

        <div class="square">

            <div class="title5">
                jakis tam tekst
            </div>
            <div class="yt">
                <i class="icon-youtube"></i>
            </div>
            <div class="fb">
                <i class="icon-facebook"></i>
            </div>
            <div class="goglep">
                <i class="icon-googleplus-rect"></i>
            </div>
            <div class="tw">
                <i class="icon-twitter-bird"></i>
            </div>
            <div style="clear:both"></div>
            <br /> <br /> <br />

        </div>



    </div>



</body>
